# Environments
venv/
.env
.vscode/

# Data
data/raw/*
data/processed/*
data/external/*
!data/*/README.md

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# archives
archives/

# Kaggle submissions
submissions/

# model outputs
models/